//Less Imports
@import "../components/bootstrap/less/bootstrap";

//Global Variables
@baseFont: "Monaco", monospace;
@baseFontSize: 16px;
@bgColor: #212121;
@txtColor: #eeeeee;
@firstColor: #ffd884;
@secondColor: #82abff;
@thirdColor: #82ffb6;
@fourthColor: #666666;
@fifthColor: #fcb5de;

//Global Styling
html, body, p, h1, h2, pre {
    font-family: @baseFont;
    background-color: @bgColor;
    color: @txtColor;
}

.muted {
   color: @fourthColor;
}

//Mixins
.bigTxt(@times) {
    font-size: @baseFontSize * @times;
}

//Local Styling
.intro {
    pre {
        margin-top: 20px;
        background: transparent;
        border: 0;
        .bigTxt(1.2);
        .logo {
            .bigTxt(2);
            color: @thirdColor;
        }
        .key {
            color: @secondColor;
        }
        .val {
            color: @firstColor;
        }
        a {
            text-decoration: underline;
            color: @fifthColor;
            &:hover {
                color: darken(@fifthColor,10%);
            }
        }
    }
}

.pageContainer {
    min-height: 2000px;
    padding: 100px 0;
}

.headbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: fadeout(darken(@bgColor,5%),10%);
    border-bottom: 1px solid @thirdColor;
    .logo {
        .bigTxt(2);
        color: @thirdColor;
        border-bottom: 1.5px solid @thirdColor;
        &:hover {
            color: darken(@thirdColor,10%);
            border-bottom: 1.5px solid darken(@thirdColor,10%);
            text-decoration: none;
        }
    }
    .symbols {
        .bigTxt(1.2);
    }
    .pageNav {
        .bigTxt(1.2);
        color: @secondColor;
    }
    .navItem {
        &:extend(.intro pre a);
        &:hover {
            &:extend(.intro pre a:hover);
        }
        .bigTxt(1);
        &.active {
            text-decoration: none;
            color: @firstColor;
            .bigTxt(1.1);
            &:hover {
                color: darken(@firstColor,10%); 
            }
        }
    }
}